*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  line-height: 2rem;
  padding: 1rem 0;
}

button {
  border: 0;
  border-radius: 5px;
  box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  transition: 0.4s;
  background-color: rgb(200, 255, 204);
}

button:hover {
  background-color: rgb(121, 250, 131);
}

button:active {
  box-shadow: none;
}

.complete {
  text-decoration: line-through;
}
